.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  background-color: var(--n100);
  width: 200px;
  height: 100%;
  color: var(--white);
}

.main {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
}

.header {
  width: 100%;
  background-color: var(--n300);
  height: 80px;
}

.section {
  background-color: var(--n200);
  flex-grow: 1;
  width: 100%;
}

.footer {
  background-color: var(--n300);
  height: 80px;
  width: 100%;
}
